.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main {
    width: 52%;
    background-color: var(--surface-color-primary);
    overflow: auto;

    .title {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .title-button {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;

            p {
                font: var(--text-lg);
                color: var(--text-color-tertiary);
            }
        }

        .title-infos {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h1 {
                font: var(--h2-var);
                color: var(--text-color-primary);
            }

            p {
                font: var(--text-lg);
                color: var(--text-color-secondary);
            }
        }
    }

    .child-information {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            font: var(--text-lg-semi);
            color: var(--text-color-primary);
            }

        .child-name, .child-age, .child-gender, .child-medical-info {
            display: flex;
            flex-direction: column;
            gap: 4px;

            label {
                font: var(--text-md);
                color: var(--text-color-secondary);
            }

            input, select {
                cursor: pointer;
            }
        }

        .child-birth-document {
            display: flex;
            flex-direction: column;
            gap: 4px;

            label {
                font: var(--text-md);
                color: var(--text-color-secondary);
            }

            .child-birth-document-box {
                position: relative;

                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    opacity: 0;
                }
            }
        }

            .child-name-box, .child-age-box, #medical-info {
                background-color: var(--surface-color-primary);
                border: 1px solid var(--stroke-default);
                padding: 12px 16px;
                border-radius: 8px;
                font: var(--text-lg);
                color: var(--text-color-primary);
                outline: none;
            }

            input:focus, textarea:focus, select:focus {
                border: 1px solid var(--stroke-highlight);
                box-shadow: 0 0 5px var(--stroke-highlight);
            }

        .child-birth-document-box {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            align-items: center;
            border: 2px dashed var(--stroke-default);
            padding: 24px 16px;
            border-radius: 8px;

            p {
                font: var( --text-lg);
                color: var(--stroke-default);
            }

            input[type="file"] {
                appearance: none;
                cursor: pointer;
            }
        }

        .child-birth-document-box:hover {
            cursor: pointer;
            background-color: var(--surface-color-secondary);
            border: 2px dashed var(--stroke-highlight);
            transition: all 0.3s ease-in-out;

            svg {
                path {
                    stroke: var(--brand-color-light);
                    transition: all 0.3s ease-in-out;
                }
            }

            p {
                color: var(--text-color-tertiary);
                transition: all 0.3s ease-in-out;
            }

        }

        select {
            background-color: var(--surface-color-primary);
            border: 1px solid var(--stroke-default);
            padding: 0.75rem 1rem;
            border-radius: 8px;
            font: var(--text-lg);
            color: var(--text-color-primary);
            outline: none;
        }
    }

    .address {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            font: var(--text-lg-semi);
            color: var(--text-color-primary);
            }

        .address-zip {
            display: flex;
            flex-direction: column;
            gap: 4px;

            label {
                font: var(--text-md);
                color: var(--text-color-secondary);
            }

            input {
                background-color: var(--surface-color-primary);
                border: 1px solid var(--stroke-default);
                padding: 12px 16px;
                border-radius: 8px;
                font: var(--text-lg);
                color: var(--text-color-primary);
                outline: none;
            }

            input:focus {
                border: 1px solid var(--stroke-highlight);
                box-shadow: 0 0 5px var(--stroke-highlight);
            }

            #input-disabled {
                background-color: var(--surface-color-disabled);
                color: var(--text-color-tertiary);
            }
        }

        .address-infos, .city-infos {
            display: flex;
            gap: 20px;

            #address-street, #address-number, .city {
                display: flex;
                flex-direction: column;
                gap: 4px;

                label {
                    font: var(--text-md);
                    color: var(--text-color-secondary);
                }

                input {
                    background-color: var(--surface-color-primary);
                    border: 1px solid var(--stroke-default);
                    padding: 12px 16px;
                    border-radius: 8px;
                    font: var(--text-lg);
                    color: var(--text-color-primary);
                    outline: none;
                    width: 100%;
                }

                input:focus {
                    border: 1px solid var(--stroke-highlight);
                    box-shadow: 0 0 5px var(--stroke-highlight);
                }

                #input-disabled {
                    background-color: var(--surface-color-disabled);
                    color: var(--text-color-tertiary);
                    opacity: 0.5;
                }
            }
        }
    }

    .parents-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    
        h3 {
            font: var(--text-lg-semi);
            color: var(--text-color-primary);
            }
    
        .parents-name, .parents-number {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            label {
                font: var(--text-md);
                color: var(--text-color-secondary);
            }
            
            p {
                font: var(--text-md);
                color: var(--text-color-tertiary);
            }
    
            input {
                background-color: var(--surface-color-primary);
                border: 1px solid var(--stroke-default);
                padding: 12px 16px;
                border-radius: 8px;
                font: var(--text-lg);
                color: var(--text-color-primary);
                outline: none;
            }
    
            input:focus {
                border: 1px solid var(--stroke-highlight);
                box-shadow: 0 0 5px var(--stroke-highlight);
            }
    
            #input-disabled {
                background-color: var(--surface-color-disabled);
                color: var(--text-color-tertiary);
            }
        }

        .parents-email {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            label {
                font: var(--text-md);
                color: var(--text-color-secondary);
            }
            
            p {
                font: var(--text-md);
                color: var(--text-color-tertiary);
            }
    
            input {
                background-color: var(--surface-color-primary);
                border: 1px solid var(--stroke-default);
                padding: 12px 16px;
                border-radius: 8px;
                font: var(--text-lg);
                color: var(--text-color-primary);
                outline: none;
            }
    
            input:focus {
                border: 1px solid var(--stroke-highlight);
                box-shadow: 0 0 5px var(--stroke-highlight);
            }

            input:invalid {
                border: 0.125rem solid var(--semantic-error);
            }
    
            #input-disabled {
                background-color: var(--surface-color-disabled);
                color: var(--text-color-tertiary);
            }

            .email-error {
                display: none;
                gap: 4px;
                align-items: center;

                span {
                    font: var(--text-md);
                    color: var(--semantic-error);
                }
            }

            #email:not(:focus) {
                border: 0.125rem solid var(--stroke-default);
            }

            #email:invalid {
                border: 0.125rem solid var(--semantic-error);
            }

            #email:invalid ~ .email-error {
                display: flex;
            }

            & input:valid .email-error {
                display: none;
            }
        }
    
        .address-infos, .city-infos {
            display: flex;
            gap: 20px;
    
            #address-street, #address-number, .city {
                display: flex;
                flex-direction: column;
                gap: 4px;
    
                label {
                    font: var(--text-md);
                    color: var(--text-color-secondary);
                }
    
                input {
                    background-color: var(--surface-color-primary);
                    border: 1px solid var(--stroke-default);
                    padding: 12px 16px;
                    border-radius: 8px;
                    font: var(--text-lg);
                    color: var(--text-color-primary);
                    outline: none;
                    width: 100%;
                }
    
                input:focus {
                    border: 1px solid var(--stroke-highlight);
                    box-shadow: 0 0 5px var(--stroke-highlight);
                }
    
                #input-disabled {
                    background-color: var(--surface-color-disabled);
                    color: var(--text-color-tertiary);
                }
            }
        }
    }

    .registration-options {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            font: var(--text-lg-semi);
            color: var(--text-color-primary);
            }

        .part-time-options {
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
                font: var(--text-md);
                color: var(--text-color-tertiary);
            }

            .part-time-selection {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
                gap: 1rem;
                position: relative;

                .box-selection {
                    border-radius: 0.5rem;
                    border: 1px solid var(--stroke-default);

                    display: grid;
                    justify-items: center;
                    gap: 0.5rem;

                    padding: 2rem 0.5rem 0.5rem;
                    position: relative;

                    cursor: pointer;

                
                    p {
                        font: var(--text-lg);
                        color: var(--text-color-primary);
                    }

                    .rounded-circle {
                        position: absolute;
                        top: 0.5rem;
                        left: 0.5rem;
                    }

                    #checked {
                        position: absolute;
                        top: 0.5rem;
                        left: 0.5rem;
                        transform: translate(50%, 50%);
                    }
                }

                .box-selection input, 
                .box-selection input:focus, 
                .box-selection input:hover {
                    all: unset;
                    position: absolute;
                    inset: 0;
                }
            }

            .box-selection:hover, .box-selection:focus-within {
                border: 1px solid var(--stroke-highlight);

                .rounded-circle {
                    border: 1px solid var(--stroke-highlight);
                }
            }

            .box-selection:has(:checked) {
                border: 2px solid var(--stroke-highlight);

                .rounded-circle {
                    background-color: var(--stroke-highlight);
                }

                #checked {
                    path {
                        fill: var(--surface-color-disabled);
                    }
                }
            }
        }

        .sports-options {
            display: flex;
            flex-direction: column;
            gap: 16px;

            label {
                font: var(--text-md);
                color: var(--text-color-tertiary);
            }

            .sports-selection {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
                gap: 16px;

                p {
                    font: var(--text-md);
                    color: var(--text-color-tertiary);
                }

                .box-selection {
                    display: grid;
                    justify-items: center;
                    gap: 8px;
                    padding: 16px;
                    border-radius: 0.5rem;
                    border: 1px solid var(--stroke-default);
                
                    p {
                        font: var(--text-lg);
                        color: var(--text-color-primary);
                    }
                }

                .box-selection:hover {
                    border: 1px solid var(--stroke-highlight);
                }
            }
        }
    }

    #disclaimer {
        gap: 12px;
        font: var(--text-lg);
        color: var(--text-color-secondary);

        #disclaimer-checkbox {
            margin-top: 5px;
        }

        a {
            color: var(--brand-color-mid);
            text-decoration: none;
            font: var(--text-lg-semi);
        }
    }

    .buttons {
        justify-content: end;
        text-align: center;
        gap: 16px;

        #save {
            font: var(--text-lg-semi);
            padding: 12px 24px;
            color: var(--text-color-highlight);
            border-radius: 8px;
            background-color: white;
            border: 1px solid var(--stroke-highlight);
            cursor: pointer;
        }

        #register {
            font: var(--text-lg-semi);
            padding: 12px 24px;
            color: white;
            border-radius: 8px;
            background-color: var(--brand-color-dark);
            border: none;
            cursor: pointer;
        }
    }

    input[type="date"] {
        position: relative;

        &::-webkit-calendar-picker-indicator {
            opacity: 0;
        }

        &::before {
            content: "";
            width: 1.25rem;
            height: 1.25rem;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            background: url(../assets/icons/calendar-03.svg) center/contain;
        }
    }

    select {
        background: url(../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
        appearance: none;
    }

}