.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main {
    width: 52%;
    background-color: var(--surface-color-primary);
    overflow: auto;

    .title {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .title-button {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;

            p {
                font: var(--text-lg);
                color: var(--text-color-tertiary);
            }
        }

        .title-infos {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h1 {
                font: var(--h2-var);
                color: var(--text-color-primary);
            }

            p {
                font: var(--text-lg);
                color: var(--text-color-secondary);
            }
        }
    }

    .child-information {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            font: var(--text-lg-semi);
            color: var(--text-color-primary);
            }

        .child-name, .child-age, .child-gender, .child-medical-info, .child-birth-document {
            display: flex;
            flex-direction: column;
            gap: 4px;

            label {
                font: var(--text-md);
                color: var(--text-color-secondary);
            }

            .child-name-box, .child-age-box, #medical-info {
                background-color: var(--surface-color-primary);
                border: 1px solid var(--stroke-default);
                padding: 12px 16px;
                border-radius: 8px;
                font: var(--text-lg);
                color: var(--text-color-primary);
                outline: none;
            }

            input:focus, textarea:focus, select:focus {
                border: 1px solid var(--stroke-highlight);
                box-shadow: 0 0 5px var(--stroke-highlight);
            }
        }

        .child-birth-document-box {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            align-items: center;
            border: 2px dashed var(--stroke-default);
            padding: 24px 16px;
            border-radius: 8px;

            p {
                font: var( --text-lg);
                color: var(--stroke-default);
            }

            input {
                display: none;
            }
        }

        .child-birth-document-box:hover {
            cursor: pointer;
            background-color: var(--surface-color-secondary);
            border: 2px dashed var(--stroke-highlight);
            transition: all 0.3s ease-in-out;

            svg {
                path {
                    stroke: var(--brand-color-light);
                    transition: all 0.3s ease-in-out;
                }
            }

            p {
                color: var(--text-color-tertiary);
                transition: all 0.3s ease-in-out;
            }

        }

        select {
            background-color: var(--surface-color-primary);
            border: 1px solid var(--stroke-default);
            padding: 0.75rem 1rem;
            border-radius: 8px;
            font: var(--text-lg);
            color: var(--text-color-primary);
            outline: none;
        }
    }

    .address {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            font: var(--text-lg-semi);
            color: var(--text-color-primary);
            }

        .address-zip {
            display: flex;
            flex-direction: column;
            gap: 4px;

            label {
                font: var(--text-md);
                color: var(--text-color-secondary);
            }

            input {
                background-color: var(--surface-color-primary);
                border: 1px solid var(--stroke-default);
                padding: 12px 16px;
                border-radius: 8px;
                font: var(--text-lg);
                color: var(--text-color-primary);
                outline: none;
            }

            input:focus {
                border: 1px solid var(--stroke-highlight);
                box-shadow: 0 0 5px var(--stroke-highlight);
            }

            #input-disabled {
                background-color: var(--surface-color-disabled);
                color: var(--text-color-tertiary);
            }
        }

        .address-infos, .city-infos {
            display: flex;
            gap: 20px;

            #address-street, #address-number, .city {
                display: flex;
                flex-direction: column;
                gap: 4px;

                label {
                    font: var(--text-md);
                    color: var(--text-color-secondary);
                }

                input {
                    background-color: var(--surface-color-primary);
                    border: 1px solid var(--stroke-default);
                    padding: 12px 16px;
                    border-radius: 8px;
                    font: var(--text-lg);
                    color: var(--text-color-primary);
                    outline: none;
                    width: 100%;
                }

                input:focus {
                    border: 1px solid var(--stroke-highlight);
                    box-shadow: 0 0 5px var(--stroke-highlight);
                }

                #input-disabled {
                    background-color: var(--surface-color-disabled);
                    color: var(--text-color-tertiary);
                }
            }
        }
    }

    .parents-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    
        h3 {
            font: var(--text-lg-semi);
            color: var(--text-color-primary);
            }
    
        .parents-name, .parents-number, .parents-email {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            label {
                font: var(--text-md);
                color: var(--text-color-secondary);
            }
            
            p {
                font: var(--text-md);
                color: var(--text-color-tertiary);
            }
    
            input {
                background-color: var(--surface-color-primary);
                border: 1px solid var(--stroke-default);
                padding: 12px 16px;
                border-radius: 8px;
                font: var(--text-lg);
                color: var(--text-color-primary);
                outline: none;
            }
    
            input:focus {
                border: 1px solid var(--stroke-highlight);
                box-shadow: 0 0 5px var(--stroke-highlight);
            }
    
            #input-disabled {
                background-color: var(--surface-color-disabled);
                color: var(--text-color-tertiary);
            }
        }
    
        .address-infos, .city-infos {
            display: flex;
            gap: 20px;
    
            #address-street, #address-number, .city {
                display: flex;
                flex-direction: column;
                gap: 4px;
    
                label {
                    font: var(--text-md);
                    color: var(--text-color-secondary);
                }
    
                input {
                    background-color: var(--surface-color-primary);
                    border: 1px solid var(--stroke-default);
                    padding: 12px 16px;
                    border-radius: 8px;
                    font: var(--text-lg);
                    color: var(--text-color-primary);
                    outline: none;
                    width: 100%;
                }
    
                input:focus {
                    border: 1px solid var(--stroke-highlight);
                    box-shadow: 0 0 5px var(--stroke-highlight);
                }
    
                #input-disabled {
                    background-color: var(--surface-color-disabled);
                    color: var(--text-color-tertiary);
                }
            }
        }
    }

    .registration-options {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            font: var(--text-lg-semi);
            color: var(--text-color-primary);
            }

        .part-time-options {
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
                font: var(--text-md);
                color: var(--text-color-tertiary);
            }

            .part-time-selection {
                display: flex;
                gap: 16px;
            }
        }

        .sports-options {
            display: flex;
            flex-direction: column;
            gap: 16px;

            label {
                font: var(--text-md);
                color: var(--text-color-tertiary);
            }

            .sports-selection {
                display: flex;
                gap: 16px;
            }
        }
    }

    #disclaimer {
        gap: 12px;
        font: var(--text-lg);
        color: var(--text-color-secondary);

        #disclaimer-checkbox {
            margin-top: 5px;
        }

        a {
            color: var(--brand-color-mid);
            text-decoration: none;
            font: var(--text-lg-semi);
        }
    }

    .buttons {
        justify-content: end;
        text-align: center;
        gap: 16px;

        #save {
            font: var(--text-lg-semi);
            padding: 12px 24px;
            color: var(--text-color-highlight);
            border-radius: 8px;
            background-color: white;
            border: 1px solid var(--stroke-highlight);
            cursor: pointer;
        }

        #register {
            font: var(--text-lg-semi);
            padding: 12px 24px;
            color: white;
            border-radius: 8px;
            background-color: var(--brand-color-dark);
            border: none;
            cursor: pointer;
        }
    }
}