.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.padding-64 {
    padding: 4rem;
}

.max-width-44 {
    max-width: 44rem;
}

.max-width-40 {
    max-width: 40rem;
}

.gap-48 {
    gap: 48px;
}

.width-120 {
    width: 112px;
}

.width-100pc {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid var(--stroke-default);
    padding: 2px;
}