.navbar-primary {
    padding-block: 20px;
    font: var(--font-heading2);
    color: var(--text-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    #menu-button {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #logo {
        margin: auto;
        font-family: "Archivo", sans-serif;
        font-size: 24px;
        color: var(--brand-color-light);
        font-weight: 900;
    }

    #logo:hover {
        color: white;
        cursor: pointer;
    }

    #search-button {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.navbar-secondary {
    padding-block: 14px;
    border-top: 1px solid var(--stroke-color);
    border-bottom: 1px solid var(--stroke-color);
    font: var(--font-span);
    list-style-type: none;
    justify-content: space-between;
}